@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Open+Sans:400,600,700);
/* * {
  border: 1px solid black;
} */
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../photos/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

ul {
  padding: 0;
  margin: 0; }

li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

a {
  text-decoration: none; }

.wrapper {
  width: 1024px;
  margin: 10px auto; }

h1, h2, h3, article h3 > a, a {
  font-family: 'Noto Sans', sans-serif; }

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1em;
  margin: 10% 0 0 0;
  padding: 0; }

h2 {
  font-weight: 300;
  padding: 5px 0 0 0;
  margin: 0; }

a {
  color: white; }

p, h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding: 0;
  margin: 0; }

h4 {
  font-size: 15px;
  color: #bfc1c3;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 5px; }

h3, article h3 > a {
  font-size: 16px;
  color: #dd0606;
  font-weight: 300;
  text-align: center; }

.social {
  float: right;
  margin-right: 16px; }
  .social a {
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 40px;
    color: white;
    border-bottom: 5px solid rgba(255, 255, 255, 0.7);
    padding-top: 10px;
    margin-right: 5px; }
    .social a:hover {
      border-bottom: 5px solid white;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transitions: all 1s ease;
      transition: all 1s ease; }
  .social .fa {
    opacity: 0.7; }
    .social .fa:hover {
      opacity: 1; }
  .social .facebook {
    background-color: #445897; }
  .social .rss {
    background-color: #cc8f32; }
  .social .twitter {
    background-color: #6a8dc7; }
  .social .youtube {
    background-color: #b2382d; }

.navbar {
  display: inline-block;
  vertical-align: top;
  width: 100%; }
  .navbar ul {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px; }
    .navbar ul li {
      display: inline-block;
      width: 22.75%;
      text-align: center;
      background-color: #b4292e;
      -webkit-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
      -moz-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
      -o-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
      box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
      color: white;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-right: 20px; }
      .navbar ul li:hover {
        -webkit-box-shadow: 0px 5px 0px 0px white;
        -moz-box-shadow: 0px 5px 0px 0px white;
        -o-box-shadow: 0px 5px 0px 0px white;
        box-shadow: 0px 5px 0px 0px white;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transitions: all 1s ease;
        transition: all 1s ease; }
    .navbar ul a {
      overflow: hidden; }

.slider {
  width: 100%; }
  .slider .slider_back {
    background: url('../photos/top-image.png');
    background-repeat: no-repeat;
    background-size: 1400px;
    background-position-x: 22%;
    background-position-y: 26%;
    border: 10px solid white;
    height: 330px;
    margin-right: 20px;
    position: relative;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
    -moz-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
    -o-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
    box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75); }
    .slider .slider_back:after {
      content: "";
      background: url('../photos/grid.png');
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      opacity: 0.3; }
  .slider img {
    vertical-align: middle;
    margin-top: 55px;
    margin-left: 20px; }

.slide_dots {
  margin-top: 10px;
  text-align: center; }
  .slide_dots .fa-circle.fa-lg {
    color: white;
    size: 1.5em; }

section {
  width: 100%;
  display: flex; }

article {
  width: 32.05%;
  display: inline-block;
  background-color: white;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
  -moz-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
  -o-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
  box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
  margin-right: 10px;
  margin-top: 10px; }
  article p, article h4 {
    line-height: 2em; }

.article-wrapper {
  padding: 5px 20px 0px 20px; }

.link-wrapper {
  padding: 0 0 0 0;
  text-align: center; }

#art-3 {
  padding-top: 7px; }

.boards {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
  -moz-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
  -o-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
  box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
  margin-top: 2%;
  margin-right: 20px;
  padding: 15px 25px 15px 25px; }
  .boards a {
    opacity: 1; }
    .boards a:hover {
      opacity: .5;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transitions: all 1s ease;
      transition: all 1s ease; }

.skaters_left {
  width: 66%;
  margin-top: 2%;
  display: inline-block;
  vertical-align: top;
  text-align: center; }
  .skaters_left .square_skaters1, .skaters_left .square_skaters2, .skaters_left .bottom_skater {
    width: 47.3%;
    display: inline-block;
    border: 5px solid white;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
    -moz-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
    -o-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
    box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
    height: 200px;
    background: url(../photos/sk8er-4.png);
    background-size: 363px;
    background-repeat: no-repeat;
    background-position-x: 92%; }
    .skaters_left .square_skaters1 h1, .skaters_left .square_skaters2 h1, .skaters_left .bottom_skater h1 {
      margin-top: 20%; }
  .skaters_left .square_skaters2 {
    background: url(../photos/sk8er-3.png);
    background-position-x: 2%;
    background-size: 363px;
    margin-left: 4px; }
  .skaters_left .bottom_skater {
    background: url(../photos/sk8er-1.png);
    width: 97%;
    background-repeat: no-repeat;
    margin-top: 10px;
    background-position-x: 0%;
    background-position-y: 58%; }
    .skaters_left .bottom_skater h1 {
      margin-top: 10%; }

.skaters_right {
  width: 32%;
  display: inline-block;
  vertical-align: top;
  margin-top: 2%;
  text-align: center; }
  .skaters_right .long_skater {
    border: 5px solid white;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
    -moz-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
    -o-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
    box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
    background: url(../photos/sk8er-2.png);
    height: 420px;
    width: 97%;
    background-size: 800px;
    background-position-x: 80%;
    background-position-y: 37%; }
    .skaters_right .long_skater h1 {
      margin-top: 50%; }

.contactForm {
  width: 100%;
  height: 225px;
  background-color: white;
  margin-top: 2%;
  margin-right: 20px;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
  -moz-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
  -o-box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
  box-shadow: 0px 5px 0px 0px rgba(92, 92, 92, 0.75);
  padding-top: 20px; }
  .contactForm .contact_left, .contactForm .contact_right {
    width: 55%;
    display: inline-block;
    vertical-align: top;
    padding-left: 40px; }
    .contactForm .contact_left p, .contactForm .contact_right p, .contactForm .contact_left h4, .contactForm .contact_right h4 {
      margin-bottom: 25px;
      line-height: 2em; }
    .contactForm .contact_left .social_bottom, .contactForm .contact_right .social_bottom {
      color: #e2e2e2;
      background-color: #9b9999;
      padding: 1px 5px 1px 5px;
      margin-top: 10px; }
      .contactForm .contact_left .social_bottom:hover, .contactForm .contact_right .social_bottom:hover {
        background-color: #bfbfbf; }
  .contactForm .contact_right {
    width: 35%; }
    .contactForm .contact_right #contact {
      background: white; }
      .contactForm .contact_right #contact fieldset {
        border: none; }
        .contactForm .contact_right #contact fieldset input, .contactForm .contact_right #contact fieldset textarea {
          border-top: 3px solid #9b9999;
          border-left: 3px solid #9b9999;
          width: 300px;
          height: 25px;
          padding: 2px 0 0 10px; }
        .contactForm .contact_right #contact fieldset textarea {
          height: 60px;
          padding: 5px 0 0 10px; }
        .contactForm .contact_right #contact fieldset button {
          padding: 5px 60px 5px 60px;
          float: right;
          margin-right: 9px;
          background-color: #b4292e;
          color: white;
          border: none;
          cursor: pointer; }

@media screen and (max-width: 500px) {
  .wrapper {
    max-width: 500px;
    width: 100%;
    margin: auto; }
  header {
    max-width: 500px;
    width: 100%;
    margin: auto; }
    header .social {
      float: none; } }
