/* * {
  border: 1px solid black;
} */
body {
  padding: 0;
  margin: 0;
  background: linear-gradient($back-tint,$back-tint), url(../photos/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1024px;
  margin: 10px auto;

}

//FONTS
h1, h2, h3, a {
  font-family: $header-font;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1em;
  margin: 10% 0 0 0;
  padding: 0;
}
h2 {
  font-weight: 300;
  padding: 5px 0 0 0;
  margin: 0;
}

a {
  color: white;
}

p {
  font-family: $p-font;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

h4 {
  @extend p;
  font-size: 15px;
  color: $date-color;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 5px;
}

h3 {
  font-size: 16px;
  color: $red;
  font-weight: 300;
  text-align: center;
}


//Header

.social {
  float: right;
  margin-right:16px;
  a {
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 40px;
    color: white;
    border-bottom: 5px solid rgba(255, 255, 255, 0.7);
    padding-top: 10px;
    margin-right: 5px;
    &:hover {
      border-bottom: 5px solid rgba(255, 255, 255, 1);
      @include transition(all 1s ease);

    }
  }
  .fa {
    opacity: 0.7;
    &:hover {
      opacity: 1.0;
    }
  }

  .facebook {
    background-color:$fb-color;

  }

  .rss {
    background-color: $rss-color;
  }

  .twitter {
    background-color: $twit-color;
  }

  .youtube {
    background-color: $youtube-color;
  }

}


.navbar {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  ul {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    li {
      display: inline-block;
      width: 22.75%;
      text-align: center;
      background-color: $navbar;
      @include light-shadow;
      color: white;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-right: 20px;
        &:hover {
          @include light-shadow(0px 5px 0px 0px rgba(255,255,255,1));
          @include transition(all 1s ease);

        }

        }
      a {
        overflow: hidden;
      }
    }
  }


//Slider
.slider {
  width: 100%;
  .slider_back {
  background: url('../photos/top-image.png');
  background-repeat: no-repeat;
  background-size: 1400px;
  background-position-x: 22%;
  background-position-y: 26%;
  border: 10px solid white;
  height: 330px;
  margin-right: 20px;
  position: relative;
  @include light-shadow;
  &:after {
    content: "";
    background: url('../photos/grid.png');
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.3;
  }
}

  img {
    vertical-align: middle;
    margin-top: 55px;
    margin-left: 20px;
  }
}

//Dots

.slide_dots {
  margin-top: 10px;
  text-align: center;
.fa-circle.fa-lg {
  color: white;
  size: 1.5em;
}
}

section {
  width: 100%;
  display: flex;
}

article {
    width: 32.05%;
    display: inline-block;
    background-color: white;
    @include light-shadow;
    margin-right: 10px;
    margin-top: 10px;
    h3 > a{
      @extend h3;
    }
    p {
      line-height: 2em;
    }
  }

.article-wrapper {
  padding: 5px 20px 0px 20px;
}

.link-wrapper {
  padding:0 0 0 0;
  text-align: center;

}

#art-3 {
  padding-top: 7px;
}

.boards {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include light-shadow;
  margin-top: 2%;
  margin-right: 20px;
  padding: 15px 25px 15px 25px;
  a {
    opacity: 1;
    &:hover{
      opacity: .5;
      @include transition(all 1s ease);

    }
  }


}

//SKATERS


.skaters_left {
  width: 66%;
  margin-top: 2%;
  display: inline-block;
  vertical-align: top;
  text-align: center;

  .square_skaters1 {
    width: 47.3%;
    display: inline-block;
    border: 5px solid white;
    @include light-shadow;
    height: 200px;
    background: url(../photos/sk8er-4.png);
    background-size:363px;
    background-repeat: no-repeat;
    background-position-x: 92%;
    h1 {
      margin-top: 20%;
      }
    }

  .square_skaters2 {
    @extend .square_skaters1;
    background: url(../photos/sk8er-3.png);
    background-position-x: 2%;
    background-size: 363px;
    margin-left: 4px;
  }

  .bottom_skater {
    @extend .square_skaters1;
    background: url(../photos/sk8er-1.png);
    width:97%;
    background-repeat: no-repeat;
    margin-top: 10px;
    background-position-x: 0%;
    background-position-y: 58%;
    h1 {
      margin-top: 10%;
    }
  }
}
.skaters_right {
  width: 32%;
  display: inline-block;
  vertical-align: top;
  margin-top: 2%;
  text-align: center;
.long_skater {
  border: 5px solid white;
  @include light-shadow;
  background: url(../photos/sk8er-2.png);
  height: 420px;
  width: 97%;
  background-size:800px;
  background-position-x: 80%;
  background-position-y:37%;
  h1 {
    margin-top:50%;
  }
}
}

.contactForm {
  width: 100%;
  height: 225px;
  background-color: white;
  margin-top:2%;
  margin-right: 20px;
  @include light-shadow;
  padding-top: 20px;
  .contact_left {
    width: 55%;
    display: inline-block;
    vertical-align: top;
    padding-left: 40px;
    p {
      margin-bottom: 25px;
      line-height: 2em;
    }
    .social_bottom {
      color:#e2e2e2;
      background-color:$contact-color;
      padding: 1px 5px 1px 5px;
      margin-top: 10px;
      &:hover{
        background-color:#bfbfbf;
      }
    }
  }
  .contact_right {
    @extend .contact_left;
    width: 35%;
    #contact {
      background:white;
      fieldset {
        border: none;
        input {
          border-top: 3px solid $contact-color;
          border-left: 3px solid $contact-color;
          width: 300px;
          height: 25px;
          padding: 2px 0 0 10px;
        }
        textarea {
          @extend input;
          height: 60px;
          padding: 5px 0 0 10px;
        }
        button {
          padding: 5px 60px 5px 60px;
          float: right;
          margin-right: 9px;
          background-color: $navbar;
          color: white;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}
