@media screen and (max-width:320px) {

body {
  background: black;
}
.wrapper {
  max-width: 320px;
  width: 100%;
  }

//header

/* header {
  max-width: 320px;
  width:100%;
  margin: auto;

}
 */
.social {
  clear: both;
  float: none;
  margin-left: 50px;
  margin-top: 20px;
  margin-right:0;
}

.navbar {
  width: 100%;
  display: block;
  ul {
    margin-left: 0;
    margin-right: 0;
    li {
      display: block;
      width: 100%;
      margin-bottom: 2%;
      padding: 10px 0 10px 0;
      }
    }
  }
.slider {
  .slider_back{
    background: none;
    border: none;
    box-shadow: none;
    margin-right: 0;
    height: 220px;
    &:after {
      display: none;
    }
  }
  img {
    max-width: 300px;
    width: 100%;
    margin: 33px auto;
  }
}

.slide_dots {
  display: none;
}
section {
  display: block;
}

article {
  max-width: 320px;
  width: 100%;
  margin: 10px auto;
  display: block;
  padding-bottom: 10px;
}

.boards {
  max-width: 320px;
  width: 100%;
  margin: auto;
  display: block;
  padding: 15px 7px 10px 13px;
  img {
    margin-right: 41px;
  }
}
.skate {
  max-width:300px;
}
.skaters_left {
  max-width: 300px;
  width: 100%;
  display: block;
  margin: 10px auto;
  .square_skaters1 {
    width: 100%;
    display: block;
    background-size: cover;
    h1 {
      margin-top: 15%;
    }
  }
  .square_skaters2 {
    @extend .square_skaters1;
    margin-left: 0;
    margin-top: 10px;
    background-repeat: no-repeat;
  }
  .bottom_skater {
    @extend .square_skaters2;
    h1 {
      margin-top: 15%;
    }
  }
}
.skaters_right {
  @extend .skaters_left;
  .long_skater {
    width: 100%;
    display: block;
    height: 200px;
    h1 {
      margin-top: 15%;
    }
  }
}

.contactForm {
  max-width: 320px;
  width: 100%;
  margin: 10px auto;
  display: block;
  .contact_left {
    width:100%;
    display: block;
    padding: 10px;
    background-color: white;

  }
  .contact_right {
    #contact {
    display: none;
  }
  }
}
}

@media screen and (min-width: 550px) and (max-width:800px) {



}
